apiVersion: v1
kind: Service
metadata:
  name: video-service
  labels:
    app: video-service
spec:
  type: ClusterIP
  selector:
    app: video-service
  ports:
  - port: 80
    targetPort: 3002
    protocol: TCP
    name: http
